* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.nav {
  width: 1200px;
  height: 100%;
  margin: auto;
}
.nav > div {
  float: left;
  width: 40px;
  padding: 10px;
}
.nav > ul {
  margin: 0;
  padding-left: 260px;
  float: left;
  text-align: center;
}
.nav > ul .list1 > a > span {
  border-radius: 10px;
  border: 1px solid #4d4d4d;
  font-size: 10px;
  padding: 1px;
}
.nav > ul > li {
  height: 60px;
  padding: 0 21px;
  float: left;
  line-height: 60px;
}
.nav > ul > li > a {
  color: #000052;
  text-decoration: none;
}
.nav > ul > li .nav-li {
  position: absolute;
  top: 60px;
  left: 0px;
  height: 150px;
  width: 100%;
  background: white;
  display: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  z-index: 999;
}
.nav > ul > li .nav-li .menu1 {
  width: 800px;
  margin: auto;
  background: white;
}
.nav > ul > li .nav-li .menu1 > li {
  padding: 0 25px;
  float: left;
  line-height: 160px;
}
.nav > ul > li .nav-li .menu1 > li > span {
  font-size: 22px;
}
.nav > ul > li .nav-li .menu1 > li a {
  color: #000;
  text-decoration: none;
}
.nav > ul .list1:hover {
  border-bottom: 3px solid red;
}
.nav > ul .list1:hover .nav-li {
  display: block;
}
.nav .span1 {
  float: right;
  width: 200px;
  height: 60px;
  position: relative;
}
.nav .span1 > span {
  float: left;
  line-height: 45px;
  font-size: 26px;
  padding: 0 10px;
}
.nav .span1 > span > ul {
  background: #fff;
  display: none;
}
.nav .span1 > span .ul-text {
  width: 280px;
  height: 250px;
  position: absolute;
  top: 60px;
  right: 140px;
  padding: 20px;
  z-index: 999;
  box-shadow: 3px 3px 3px #ccc;
}
.nav .span1 > span .ul-text li {
  border-bottom: 1px solid #ccc;
}
.nav .span1 > span .ul-text li a {
  text-decoration: none;
  font-size: 14px;
  color: #9999a6;
}
.nav .span1 > span .ul-shop {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 60px;
  right: 50px;
  padding: 20px;
  z-index: 999;
  box-shadow: 3px 3px 3px #ccc;
}
.nav .span1 > span .ul-shop > p {
  font-size: 16px;
}
.nav .span1 > span .ul-shop button {
  width: 360px;
  position: absolute;
  bottom: 10px;
  background: #eb0028;
  color: white;
  font-size: 16px;
  border: none;
}
.nav .span1 > span .ul-input {
  width: 600px;
  height: 60px;
  position: absolute;
  top: 0px;
  left: 400px;
  z-index: 9999;
}
.nav .span1 > span .ul-input input {
  border: none;
  height: 30px;
  margin-top: 15px;
}
.nav .span1 span:hover {
  border-bottom: 3px solid red;
}
.nav .span1 span:hover .ul-text {
  display: block;
}
.nav .span1 span:hover .ul-shop {
  display: block;
}
.nav .span1 span:active .ul-input {
  display: block;
}
.nav .span1 a:hover {
  color: #191020;
}
.main {
  width: 100%;
  height: 1200px;
  background: #f2f2f2;
}
.main .count {
  width: 1200px;
  height: 1000px;
  background: blanchedalmond;
  margin: 0;
}
.main .count .count-text {
  width: 100%;
  margin: 0 auto;
}
.main .count .count-text .left-box {
  width: 600px;
  height: 100%;
  background: white;
  float: left;
}
.main .count .count-text .right-box {
  float: left;
  padding-top: 18%;
}
